/* Boton icono */
.boton_iconos {
    transition: all .2s ease-in-out;
    cursor: pointer;
    color: #fff;
    background: #a94158;
    background: linear-gradient(to right bottom, #a94158, #99394e, #883144, #78293a, #692131);
    box-shadow: 0 2px 14px -6px #000;
    padding: 0 18px;
    font-size: 16px;
    line-height: 16px;
    border: none;

}
.boton_iconos:hover {
transform: scale(.97);
box-shadow: 0 0 18px -6px #000;}

.blanco {
    color: white;
}
.login-page .main-footer {
    display: none;
}

/* Boletos */
.contenido_dia {
    display: none;
}
.tabla_precio ul,
ul.lista_precios {
    list-style: none;
    padding: 0;
    margin: 0;
}
ul.lista_precios li.numero {
    font-size: 30px;
}
h4.nombre_dia {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: #fe4918;
}
.tabla_precio h3 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    color: #fe4918;
}
.contenido_dia label {
    font-weight: normal!important;
}
.contenido_dia time {
    color: #fe4918;
}
